# Logs
logs
*.log

node_modules
dist
*.local
.env
.env.*
!.env.example

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# generated types
typed-router.d.ts
typed-components.d.ts
components.d.ts